<article class="post">
  <div class="title"><a class="postLink" href="/post/{{post.id}}">{{post.title}}</a></div>
  <div class="content">{{post.content}}</div>
  <div class="meta">
    By {{post.user.username}} on {{format_date post.created_at}}
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class= "btn btn-warning" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}